.markdown-content ol > li {
  list-style: decimal;
}

.markdown-content ul > li {
  list-style: disc;
}

.markdown-content ul {
  list-style: disc outside;
  margin-top: 1em;
  padding-left: 1.6em;
}

.markdown-content li {
  line-height: 2;
  margin-bottom: 0;
  list-style: inherit;
}

.markdown-content img {
  max-width: 100%;
}

.markdown-content blockquote {
  margin: 20px 0;
  padding: 0.5em 1em;
  line-height: 2em;
  background-color: #f1f1f1;
  border-left: 5px solid #35b378;
  display: block;
}

.markdown-content a {
  color: #036aca;
  font-weight: 400;
}

.markdown-content strong,
.markdown-content em strong {
  color: #036aca;
}

.markdown-content code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 14px;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #fff5f5;
  color: #ff502c;
  padding: 0.065em 0.4em;
}

.markdown-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
  border-radius: 6px;
}

.markdown-content table tr {
  border-top: 1px solid #dfe2e5;
}

.markdown-content table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-content table tr:hover {
  background-color: #eee;
}

.markdown-content table th,
.markdown-content table td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
